html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente_Base);
}


:root{
/* COLORES */
--color_VerdeBase: #59D9B5;
--color_VerdeOscuro: #01402E;
--color_VerdeClaro: #B3F2E0;
--color_VerdeMuyClaro: #D0F2E9;

/* MÁRGENES */
--margen_PaddingGeneral: 30px;
--margen_PaddingBotones: 8px 10px;
--margen_SeparacionSections: 80px;

/* FUENTES */
--fuente_Base:  Arial;
--fuente_BaseTamanyo: 1rem;
--fuente_H1: 2rem;
--fuente_H2: 1.5rem;
--fuente_H3: 1rem;
--fuente_Botones: var(--fuente_H3);
--fuente_parrafo: var(var(--fuente_BaseTamanyo));

/* Icono */
--iconoAltura: 32px;
--iconoAncho: 32px;

}

input{
    display: none;
}

label{
    position: absolute;
    padding: var(--margen_PaddingGeneral);
}

.desplegable2{
    
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--color_VerdeBase);
    justify-content: space-around;
    
}



input:checked ~ .desplegable2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fuente_H2);
    padding: 90px 0;
    background-color: var(--color_VerdeOscuro);
    color: var(--color_VerdeBase);
}

a{
    text-decoration: none;
    color: var(--color_VerdeBase);
}


ul{
    margin: 0;
    list-style: none;
}


.icono{
    width: var(--iconoAncho);
    height: var(--iconoAltura);
    
}


input:checked ~ .menuPrincipal{

    display: none;
 
 }

.menuPrincipal{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color_VerdeBase);
    padding: 200px 0;
    box-sizing: border-box;
    align-items: center;
}


h1{
    font-size: var(--fuente_H1);
    color: white;
}

img{
    height: 36px;
    width: 36px;
    filter: invert();
    margin-right: 10px;
}

