.titulo{
    display: flex;
    justify-content: center;
}



:root{
    /* COLORES */
    --color_VerdeBase: #59D9B5;
    --color_VerdeOscuro: #01402E;
    --color_VerdeClaro: #B3F2E0;
    --color_VerdeMuyClaro: #D0F2E9;
    
    /* MÁRGENES */
    --margen_PaddingGeneral: 30px;
    --margen_PaddingBotones: 8px 10px;
    --margen_SeparacionSections: 80px;
    
    /* FUENTES */
    --fuente_Base:  Arial;
    --fuente_BaseTamanyo: 1rem;
    --fuente_H1: 2rem;
    --fuente_H2: 1.5rem;
    --fuente_H3: 1rem;
    --fuente_h4: 0.75rem;
    --fuente_Botones: var(--fuente_H3);
    --fuente_parrafo: var(var(--fuente_BaseTamanyo));
    
    /* Icono */
    --iconoAltura: 32px;
    --iconoAncho: 32px;
    
    }



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente_Base);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.hexagonoVerde{
    width: 36px;
    height: 36px;
}

h2{
    color: var(--color_VerdeBase);
    font-size: 15px;
    
}


.letrasIniciales{
    margin-top: 90px;
}

.titulo{
    margin-top: 50px;
}

h3{
    font-size: var(--fuente_H2);
    color: grey;
    margin-top: 18px;
}

.tituloPequeño{
    font-size: 20px;
}

main{
    text-align: center;
}

.input1, .input2{
    width: 90%;
    height: 48px;
    border-radius: 30px;
    border: none;
}

.input1{
    background-color: var(--color_VerdeBase);
    margin-top: 90px;
    color: white;
}

.input2{
    background-color: var(--color_VerdeClaro);
    margin-top: 30px;
}

.input1::placeholder{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.input2::placeholder{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>h3{
    margin: 40px 0;
    color: var(--color_VerdeBase);

}

footer>h4{

    color: rgb(189, 184, 184);
    font-size: var(--fuente_h4);

}

.copy{
    margin-top: 20px;
}

.input3{
    display: none;
}

label{
    position: absolute;
    padding: var(--margen_PaddingGeneral);
}

.desplegable2{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--color_VerdeBase);
    justify-content: space-around;
    
}

input:checked ~ .desplegable2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fuente_H2);
    padding: 90px 0;
    background-color: var(--color_VerdeOscuro);
    color: var(--color_VerdeBase);
}

ul{
    margin: 0;
    list-style: none;
}

.icono{
    width: var(--iconoAncho);
    height: var(--iconoAltura);
    
}

.discover{
    font-size: 16px;
    color: var(--color_VerdeBase);
    margin-top: 40px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: bold;
}

.inicio{
    text-decoration: none;
    color: var(--color_VerdeBase);
}